// VARIABLES DE COLOR
$backgrond-img: url(../assets/img/main/wave.png);
$tienda-virtual-font-color: rgba(232, 58, 14, 0.713);
$tienda-virtual-bg-color: rgba(165, 243, 248, 0.603);
$tienda-virtual-hv-color: rgba(217, 167, 232, 0.55);
$main-bg-color: antiquewhite;
// VARIABLES DE MEDIDA
$header-height: 15vh;
$main-height: 80vh;
$footer-height: 5vh;
// VARIABLES DE UBICACION DE CONTENIDO
$justify-cont-cen: center;
$align-items-cen: center;
$font-primary: dogica;
$font-w-bold: bold;
$text-align-center: center;
$border-radius: 5px;
// VARIABLES DE DISPLAY
$display-f: flex;