// VARIABLES DE COLOR
$backgrond-img: url(../assets/img/main/wave.png);
$main-bg-color: antiquewhite;
// VARIABLES DE MEDIDA
$header-height: 15vh;
$main-height: 80vh;
$footer-height: 5vh;
// VARIABLES DE UBICACION DE CONTENIDO
$justify-cont-cen: center;
$align-items-cen: center;
$text-align-center: center;
$border-radius: 5px;
// VARIABLES DE FONTS
$font-primary: dogica;
$font-sizes: 16px, 24px;
$font-w-bold: bold;
// VARIABLES DE DISPLAY
$display-f: flex;