// PERSONALIZACION DEL HEADER
.header {
    @include flex-row-center;
    font-weight: $font-w-bold;
    font-family: $font-primary;
    &-tienda-virtual {
        display: flex;
        align-items: $align-items-cen;
        background-color: map-get($colorpalet , tvbc );
        border-radius: $border-radius;
        .link-tienda {
            color: map-get($colorpalet , tvfc );
        }
        &:hover {
            background-color: map-get($colorpalet , tvhc );
        }
    }
}