// PERSONALIZACION DEL HOME
.menu {
    height: 100%;
    display: $display-f;
    text-align: $text-align-center;
    justify-content: $justify-cont-cen;
    align-items: $align-items-cen;
    opacity: 95%;
    border-radius: 20px;
    background-color: $main-bg-color;
    &-tsj {
        font-size: x-large;
        font-weight: $font-w-bold;
    }
}